body{
    font-family:"Microsoft YaHei";
    font-size:14px;
}

.con_header{
    height:29px;
    background-color: #f7f7f7;
    border:1px solid #ddd;
}

.header{
    height:29px;
    width:1200px;
    /*background-color: gold;*/
    margin:0 auto;
}

.welcome{
    font-size:12px;
    color:#666;
    line-height:29px;
}

.user_info{
    font-size:12px;
    line-height:29px;
    color: #666;
}

.user_info em{
    color: #f80;
}


.login_btn li,.user_btn li{
    float: left;
    height:29px;
}

.login_btn{
    /*background-color:cyan;*/
}


.login_btn li a,.login_btn span,.user_btn a,.user_btn span{
    display:block;
    line-height:29px;
    font-size:12px;
    color:#666;
}

.login_btn span,.user_btn span{
    color: #cecece;
    margin:0 10px;
}

.login_btn a:hover,.user_btn a:hover{
    color: #f80;
}

.center_con{
    width:1200px;
    height:115px;
    margin:0 auto;
    /*background-color: gold;*/
}

.logo{
    margin:29px 0 0 17px;
}

.search_con{
    border:1px solid #37ab40;
    width:616px;
    height:38px;
    margin: 34px 0 0 124px;
    background: url(../imgs/icon.png) no-repeat 2px 3px;
    /*background-color: green;*/
}

.search_con .input_txt{
    width:480px;
    height:36px;
    margin-left:36px;
    border:0;
    /*background-color: red;*/
    /*margin-top:-1px;*/
    outline:none;
}

.search_con .input_sub{
    width:96px;
    border:0;
    color: #fff;
    margin-top:-1px;
    height:39px;
    background: #37ab40;
    font-size:14px;
    cursor: pointer ;
}

.chart_con{
    height:40px;
    width:200px;
    /*background-color: red;*/
    margin-top:34px;
}

.chart_link{
    color:#37ab40;
    font-size:14px;
    height:38px;
    width:158px;
    border:1px solid #dddddd;
    line-height: 38px;
    background: url(../imgs/icon.png) 11px -277px no-repeat;
    text-indent:56px;
}

.chart_num{
    width:40px;
    height:40px;
    background-color: #ff8800;
    color:#fff;
    font:bold 18px/40px 'Microsoft YaHei';
    text-align: center;
}

/*分类盒子*/
.main_menu_con{
    width:100%;
    height:40px;
    /*background-color: cyan;*/
    border-bottom:2px solid #39a93e;
}

.center_con02   {
    width:1200px;
    height:40px;
    margin:0 auto 0;
    /*background-color: #37ab40;*/
}

.center_con02 h2{
    float: left;
    width:200px;
    height:40px;
    background: #37ab40;
    text-align: center;
    color: #ffffff;
    font:normal 14px/40px 'Microsoft YaHei';
}

.classes{
    width:1000px;
    height:40px;
}

.classes li{
    float:left;
    height:40px;
}

.classes li a,.classes li span{
    text-align: center;
    color: #666;
    padding:0 0 0 20px;
    font:normal 14px/40px 'Microsoft YaHei';
}

.classes li a:hover{
    color: #ff8800;
}

/*二级菜单*/
.center_con03{
    width:1200px;
    height:270px;
    /*background-color: gold;*/
    margin:0 auto;
}

.sub_menu_con{
    height:270px;
    width:200px;
    /*background-color: red;*/
}


.sub_menu_con li{
    width:198px;
    height:44px;
    border:1px solid #eee;
    border-top:0;
    background: url(../imgs/icon.png) 160px -344px no-repeat;
    /*background-size: 50px 50px;*/
    text-align: center;
}

.sub_menu_con a{
    display: block;
    font: normal 18px/44px 'Microsoft YaHei';
    text-align: center;
    color: #333;
    background: url(../imgs/icon.png) no-repeat;
}
.sub_menu_con a:hover{
    color: #f80;
}

.sub_menu_con li .icon01{
    background-position:18px -29px;
}
.sub_menu_con .icon02{
    background-position:18px -170px;
}
.sub_menu_con .icon03{
    background-position:18px -134px;
}
.sub_menu_con .icon04{
    background-position:18px -239px;
}
.sub_menu_con .icon05{
    background-position:18px -64px;
}
.sub_menu_con .icon06{
    background-position:18px -204px;
}

.slide_con{
    height:270px;
    width:760px;
    background-color: cyan;
    position: relative;
    overflow: hidden;
}

.slide_con .slide{
    height:270px;
    width:760px;
    position: absolute;
    left:0;
    top:0;
}

.slide_con .slide li{
    float: left;
    position: absolute;
}

.prior,.after{
    width:30px;
    height: 30px;
    position: absolute;
    background:url(../imgs/icon.png) 0 -315px no-repeat;
    cursor:pointer;
    left:11px;
    top:122px;
}

.after{
    background-position: 0 -350px;
    left:732px;
    top:122px
}

.point{
    position: absolute;
    width:100%;
    background-color: transparent;
    height:11px;
    left:0;
    bottom:9px;
    font-size:0;
    text-align: center;
}

.point li{
    display: inline-block;
    background-color: #9f9f9f;
    width:9px;
    height:9px;
    margin:0 5px;
    border-radius:50%;
    cursor: pointer;
}

.point .active{
    background-color: #cecece;
}

.advs_con{
    height:270px;
    width:240px;
    background-color: pink;
}


/*解决图片下3像素空白的bug*/
.advs_con img{
    display: block;
}

/*商品列表*/

.common_model{
    width:1200px;
    height:337px;
    margin:20px auto 0;
}

.common_title_con{
    height:35px;
    border-bottom:2px solid #42ab46;
}

.common_title_con h3{
    font:bold 16px/35px 'Microsoft YaHei';
    float: left;
    color: #37ab40;
}

.common_title_con ul{
    float: left;
    height:12px;
    /*background-color: cyan;*/
    margin:12px 0 0 20px;
}

.common_title_con ul li{
    float: left;
    margin-right:15px;

    /*margin:0 15px 0 0;*/
    font-size:12px;
}

.common_title_con ul li a{
    line-height:12px;
    font-size:12px;
    color:#666
}

.common_title_con ul li a:hover{
    color: #f80;
}

.common_title_con .more{
    float: right;
    margin-top:12px;
    line-height:12px;
    font-size:12px;
    color: #ff8800;
}

.common_title_con .more:hover{
    color: #f80;
}

.goods_banner{
    width: 200px;
    height:300px;
}

.goods_list{
    width:1000px;
    height:300px;
}

.goods_list li{
    width:249px;
    height:299px;
    border-right:1px solid #ededed  ;
    float: left;
    border-bottom:1px solid #ededed;
    
}

.common_model .goods_list h4{
    font:normal 14px/50px 'Microsoft YaHei';
    text-align: center;
}
.common_model .goods_list a{
    height:180px;
    width:180px;
    display: block;
    margin:0 auto 0;
}
.price{
    font:bold 20px/50px 'Microsoft YaHei';
    color:#c40000;
    /*margin-top:20px;*/
    margin:20px;
    text-align: center;
}

.footer{
    width:100%;
    margin:30px 0 40px;
    border-top:2px solid #4ab14e
}

.foot_link{
    text-align: center;
    margin-top:38px;
}

.foot_link a,.foot_link span{
    color: #6e6e6e;
    font-size:12px;
}
.foot_link span{
    padding:0 10px;
}

.footer p{
    text-align: center;
    margin-top:14px;
    font-size:12px;
}


.foot_link a:hover{
    color: #f80;
}